<!-- [ Sidebar Menu ] start -->
<nav class="sidebar flex-column">
    <div class="sidebar-tittle">
        <a href="/" class="tittle">
            vits-simple-api
        </a>
    </div>

    <ul class="flex-column sidebar-nav">
        <li class="item">
            <a href="{{ url_for('admin.home') }}" class="link">
                模型管理
            </a>
        </li>
        <li class="item">
            <a href="{{ url_for('admin.setting') }}" class="link">
                配置设置
            </a>
        </li>
{#        <li class="item">#}
{#            <a href="{{ url_for('admin.dashboard') }}" class="link">#}
{#                仪表盘#}
{#            </a>#}
{#        </li>#}
    </ul>
    
    <div class="sidebar-logout">
        <a href="{{ url_for('auth.logout') }}" class="logout link">
            Logout
        </a>
    </div>


</nav>
<!-- [ Sidebar Menu ] end -->
