{% extends 'layouts/admin_base.html' %}
{% block extrastyle %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock extrastyle %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="home-content flex flex-grow-1">
        <div class="model-manager flex-column flex-grow-1">
            <div class="item">
                <div class="model-load">
                    <label for="" class="model-load-label">
                        加载模型
                    </label>
                    <div class="card model-load-content flex-column"></div>
                </div>
            </div>


            <div class="item model-list flex-column">
                <div class="flex">
                    <label for="" class="model-list-label">
                        模型列表
                    </label>
                    <div class="flex-grow"></div>
                    <div id="save-current-model">保存当前模型到配置</div>
                </div>

                <div class="flex-column flex-wrap" id="model-data">
                    <div class="flex flex-wrap" id="VITS"></div>
                    <div class="flex flex-wrap" id="HUBERT-VITS"></div>
                    <div class="flex flex-wrap" id="W2V2-VITS"></div>
                    <div class="flex flex-wrap" id="BERT-VITS2"></div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block extra_js %}
    <script src="{{ url_for('static', filename='js/admincode.js') }}"></script>
{% endblock extra_js %}