<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>vits-simple-api</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugins/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}">
</head>
<body>
<main class="main-container">
    <div class="container flex flex-wrap mx-auto">
        <div class="text-center d-flex align-items-center w-100" style="height: 100px;" id="component-1">
            <h1 class="w-100">
                <a href="https://github.com/Artrajz/vits-simple-api" target="_blank"
                   style="text-decoration: none; color: black"> vits-simple-api</a>
            </h1>
        </div>

        <div class="tabs w-100 border-b-2" id="component-2">
            <button class="tab-button px-4 pb-2 pt-2" onclick="showContent(0)" id="vits-button">VITS</button>
            <button class="tab-button px-4 pb-2 pt-2" onclick="showContent(1)" id="w2v2-vits-button">W2V2-VITS</button>
            <button class="tab-button px-4 pb-2 pt-2" onclick="showContent(2)" id="bert-vits2-button">Bert-VITS2
            </button>
        </div>

        <div class="content w-100 border-lr-2 border-b-2" id="component-3">
            <div class="content-pane w-100 flex-wrap" id="vits-page">
                <form class="w-100">
                    <div class="mb-3">
                        <label>text</label>
                        <textarea class="form-control input_text" id="input_text1" rows="3"
                                  oninput="updateLink()">你好,こんにちは</textarea>
                    </div>
                    <div class="mb-3">
                        <label>id</label>
                        <select class="form-control input_id" id="input_id1" oninput="updateLink()">
                            {% for speaker in speakers["VITS"] %}
                                <option value="{{ speaker["id"] }}">{{ speaker["id"] }} | {{ speaker["name"] }}
                                    | {{ speaker["lang"] }}</option>
                            {% endfor %}
                            {% if vits_speakers_count <=0 %}
                                <option value="" disabled selected hidden>未加载模型</option>
                            {% endif %}
                        </select>
                    </div>
                </form>
                <form class="w-100">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="默认为wav">format</label>
                            <select class="form-control input_format" id="input_format1" oninput="updateLink()">
                                <option></option>
                                <option>wav</option>
                                <option>mp3</option>
                                <option>ogg</option>
                                <option>silk</option>
                                <option>flac</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="自动识别语言auto：可识别的语言根据不同speaker而不同，方言无法自动识别。方言模型需要手动指定语言，比如粤语Cantonese要指定参数lang=gd">lang</label>
                            <input type="text" class="form-control input_lang" id="input_lang1" oninput="updateLink()"
                                   value=""
                                   placeholder="auto"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="调节语音长度，相当于调节语速，该数值越大语速越慢。">length</label>
                            <input type="number" class="form-control input_length" id="input_length1"
                                   oninput="updateLink()" value=""
                                   placeholder="1" min="0" step="0.001"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="样本噪声，控制合成的随机性。">noise</label>
                            <input type="number" class="form-control input_noise" id="input_noise1"
                                   oninput="updateLink()" value=""
                                   placeholder="0.33" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="随机时长预测器噪声，控制音素发音长度。">noisew</label>
                            <input type="number" class="form-control input_noisew" id="input_noisew1"
                                   oninput="updateLink()" value=""
                                   placeholder="0.4" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="按标点符号分段，加起来大于segment_size时为一段文本。segment_size<=0表示不分段。">segment_size</label>
                            <input type="number" class="form-control input_segment_size" id="input_segment_size1"
                                   oninput="updateLink()"
                                   value=""
                                   placeholder="50" step="1"/>
                        </div>
                    </div>
                </form>


                <div class="player flex flex-wrap  w-100">
                    <audio id="audioPlayer1" controls>
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="play-button">
                    <button type="button" class="btn btn-outline-secondary" onclick="setAudioSourceByPost()"
                            style="margin-right: 10px">
                        播放器生成
                    </button>
                    <button type="button" class="btn btn-outline-secondary" onclick="downloadAudio()"
                            id="downloadButton1" disabled>
                        下载音频
                    </button>
                    <div class="form-check">
                        <input type="checkbox" id="streaming1" onchange="updateLink()">
                        <label class="form-check-label" data-toggle="tooltip" data-placement="top"
                               title="按照segment_size分段推理文本，推理好一段即输出，无需等待所有文本都推理完毕">流式响应</label>
                    </div>

                </div>
            </div>
            <div class="content-pane w-100 flex-wrap" id="w2v2-vits-page">
                <form class="w-100">
                    <div class="mb-3">
                        <label>text</label>
                        <textarea class="form-control input_text" id="input_text2" rows="3"
                                  oninput="updateLink()">你好,こんにちは</textarea>
                    </div>
                    <div class="mb-3">
                        <label>id</label>
                        <select class="form-control input_id" id="input_id2" oninput="updateLink()">
                            {% for speaker in speakers["W2V2-VITS"] %}
                                <option value="{{ speaker["id"] }}">{{ speaker["id"] }} | {{ speaker["name"] }}
                                    | {{ speaker["lang"] }}</option>
                            {% endfor %}
                            {% if w2v2_speakers_count <=0 %}
                                <option value="" disabled selected hidden>未加载模型</option>
                            {% endif %}
                        </select>
                    </div>
                    <div class="mb-3 mb-3">
                        <label data-toggle="tooltip" data-placement="top"
                               title="情感嵌入，{% if w2v2_emotion_count > 0 %}
                                    可输入范围是0-{{ w2v2_emotion_count-1 }}
                                {% else %}
                                    未加载emotion
                                {% endif %}">emotion</label>
                        <input type="number" class="form-control" min="0" max="{{ w2v2_emotion_count-1 }}" step="1"
                               id="emotion" value="0" oninput="updateLink()">
                    </div>
                </form>


                <form class="w-100">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="默认为wav">format</label>
                            <select class="form-control input_format" id="input_format2" oninput="updateLink()">
                                <option></option>
                                <option>wav</option>
                                <option>mp3</option>
                                <option>ogg</option>
                                <option>silk</option>
                                <option>flac</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="自动识别语言auto：可识别的语言根据不同speaker而不同，方言无法自动识别。方言模型需要手动指定语言，比如粤语Cantonese要指定参数lang=gd">lang</label>
                            <input type="text" class="form-control input_lang" id="input_lang2" oninput="updateLink()"
                                   value=""
                                   placeholder="auto"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="调节语音长度，相当于调节语速，该数值越大语速越慢。">length</label>
                            <input type="number" class="form-control input_length" id="input_length2"
                                   oninput="updateLink()" value=""
                                   placeholder="1" min="0" step="0.001"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="样本噪声，控制合成的随机性。">noise</label>
                            <input type="number" class="form-control input_noise" id="input_noise2"
                                   oninput="updateLink()" value=""
                                   placeholder="0.33" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="随机时长预测器噪声，控制音素发音长度。">noisew</label>
                            <input type="number" class="form-control input_noisew" id="input_noisew2"
                                   oninput="updateLink()" value=""
                                   placeholder="0.4" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="按标点符号分段，加起来大于segment_size时为一段文本。segment_size<=0表示不分段。">segment_size</label>
                            <input type="number" class="form-control input_segment_size" id="input_segment_size2"
                                   oninput="updateLink()"
                                   value=""
                                   placeholder="50" step="1"/>
                        </div>
                    </div>
                </form>

                <div class="player flex flex-wrap w-100">
                    <audio id="audioPlayer2" controls>
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="play-button">
                    <button type="button" class="btn btn-outline-secondary" onclick="setAudioSourceByPost()"
                            style="margin-right: 10px">
                        播放器生成
                    </button>
                    <button type="button" class="btn btn-outline-secondary" onclick="downloadAudio()"
                            id="downloadButton2" disabled>
                        下载音频
                    </button>
                </div>
            </div>
            <div class="content-pane w-100 flex-wrap" id="bert-vits2-page">
                <form class="w-100">
                    <div class="mb-3">
                        <label>text</label>
                        <textarea class="form-control input_text" id="input_text3" rows="3"
                                  oninput="updateLink()">你好</textarea>
                    </div>
                    <div class="mb-3">
                        <label>id</label>
                        <select class="form-control input_id" id="input_id3" oninput="updateLink()">
                            {% for speaker in speakers["BERT-VITS2"] %}
                                <option value="{{ speaker["id"] }}">{{ speaker["id"] }} | {{ speaker["name"] }}
                                    | {{ speaker["lang"] }}</option>
                            {% endfor %}
                            {% if bert_vits2_speakers_count <=0 %}
                                <option value="" disabled selected hidden>未加载模型</option>
                            {% endif %}
                        </select>
                    </div>
                </form>
                <form class="w-100">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="默认为wav">format</label>
                            <select class="form-control input_format" id="input_format3" oninput="updateLink()">
                                <option></option>
                                <option>wav</option>
                                <option>mp3</option>
                                <option>ogg</option>
                                <option>silk</option>
                                <option>flac</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="自动识别语言auto：可识别的语言根据不同speaker而不同，方言无法自动识别。方言模型需要手动指定语言，比如粤语Cantonese要指定参数lang=gd">lang</label>
                            <input type="text" class="form-control input_lang" id="input_lang3" oninput="updateLink()"
                                   value=""
                                   placeholder="auto"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="调节语音长度，相当于调节语速，该数值越大语速越慢。">length</label>
                            <input type="number" class="form-control input_length" id="input_length3"
                                   oninput="updateLink()" value=""
                                   placeholder="1" min="0" step="0.001"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="调节中文语音长度，相当于调节语速，该数值越大语速越慢。">length_zh</label>
                            <input type="number" class="form-control input_length_zh" id="input_length_zh3"
                                   oninput="updateLink()" value=""
                                   placeholder="0" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="调节日语语音长度，相当于调节语速，该数值越大语速越慢。">length_ja</label>
                            <input type="number" class="form-control input_length_ja" id="input_length_ja3"
                                   oninput="updateLink()" value=""
                                   placeholder="0" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="调节英文语音长度，相当于调节语速，该数值越大语速越慢。">length_en</label>
                            <input type="number" class="form-control input_length_en" id="input_length_en3"
                                   oninput="updateLink()" value=""
                                   placeholder="0" min="0" step="0.001"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="样本噪声，控制合成的随机性。">noise</label>
                            <input type="number" class="form-control input_noise" id="input_noise3"
                                   oninput="updateLink()" value=""
                                   placeholder="0.5" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="随机时长预测器噪声，控制音素发音长度。">noisew</label>
                            <input type="number" class="form-control input_noisew" id="input_noisew3"
                                   oninput="updateLink()" value=""
                                   placeholder="0.6" min="0" step="0.001"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="按标点符号分段，加起来大于segment_size时为一段文本。segment_size<=0表示不分段。">segment_size</label>
                            <input type="number" class="form-control input_segment_size" id="input_segment_size3"
                                   oninput="updateLink()"
                                   value=""
                                   placeholder="50" step="1"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="SDP/DP混合比：SDP在合成时的占比，理论上此比率越高，合成的语音语调方差越大。">sdp_radio</label>
                            <input type="number" class="form-control input_sdp_ratio" id="input_sdp_ratio"
                                   oninput="updateLink()"
                                   value=""
                                   placeholder="0.2" step="0.01" min="0" max="1"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label data-toggle="tooltip" data-placement="top"
                                   title="Bert-VITS2 v2.1: 情感控制，范围为0-9。">emotion</label>
                            <input type="number" class="form-control input_emotion" id="input_emotion3"
                                   oninput="updateLink()"
                                   value=""
                                   placeholder="0" step="1" min="0" max="9"/>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="reference_audio" data-toggle="tooltip" data-placement="top"
                                   title="Bert-VITS2 v2.1: 上传音频文件作为情感参考,emotion和reference_audio二选一。">reference_audio</label>
                            <input type="file" class="reference_audio" id="reference_audio3" multiple>
                        </div>
                    </div>
                </form>


                <div class="player flex flex-wrap  w-100">
                    <audio id="audioPlayer3" controls>
                        Your browser does not support the audio element.
                    </audio>
                </div>

                <div class="play-button">
                    <button type="button" class="btn btn-outline-secondary" onclick="setAudioSourceByPost()"
                            style="margin-right: 10px">
                        播放器生成
                    </button>
                    <button type="button" class="btn btn-outline-secondary" onclick="downloadAudio()"
                            id="downloadButton3" disabled>
                        下载音频
                    </button>
                    <div class="form-check">
                        <input type="checkbox" id="streaming3" onchange="updateLink()">
                        <label class="form-check-label" data-toggle="tooltip" data-placement="top"
                               title="按照segment_size分段推理文本，推理好一段即输出，无需等待所有文本都推理完毕">流式响应</label>
                    </div>
                </div>

            </div>
        </div>

        <div class="mt-2">
            {% if speakers_count == 0 %}
                <div style="color: red;">未加载任何模型</div>
            {% endif %}
            <div>
                <label>返回speakers(json)：</label>
                <a id="speakers_link" href="https://artrajz-vits-simple-api.hf.space/voice/speakers" target="_blank"
                   style="text-decoration: none; color: black">
                    https://artrajz-vits-simple-api.hf.space/voice/speakers
                </a>
            </div>
            <div>
                <label>API调用：</label>
                <a id="vits_link" href="https://artrajz-vits-simple-api.hf.space/voice/vits?text=你好,こんにちは&id=164"
                   style="text-decoration: none; color: black">
                    https://artrajz-vits-simple-api.hf.space/voice/vits?text=你好,こんにちは&id=164
                </a>
            </div>
        </div>
    </div>
    <br/>

</main>

{% include 'includes/scripts.html' %}

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins/fileinput.min.js') }}"></script>
</body>
</html>
