**/__pycache__
/Model/
/logs/
/cache/
/upload/
**/pytorch_model.bin
**/spm.model
/**/*.pt
phrases_dict.txt
/config.yml
/config.yaml
/data/emotional/dimensional_emotion_model/model.onnx
/data/hubert_soft/hubert-soft-0d54a1f4.pt
/data/emotional/dimensional_emotion_npy/
/data/bert/prosody_model/prosody_model.pt
/data/emotional/dimensional_emotion_npy/
