numba
librosa
numpy==1.23.3
scipy
torch
unidecode
openjtalk==0.3.0.dev2
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
audonnx
flask==2.2.3
av
graiax-silkcoder[libsndfile]
flask_apscheduler
fasttext
fastlid
