numba
librosa
numpy==1.23.3
scipy
torch==2.0.0+cu117
torchaudio==2.0.1+cu117
torchvision==0.15.1
unidecode
openjtalk==0.3.0.dev2
jamo
pypinyin
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
audonnx
flask
av
graiax-silkcoder[libsndfile]
flask_apscheduler
fasttext
fastlid
